
/**
 * Loading
 * --------------------------------------------------
 */

.loading-backdrop {
  @include transition(visibility 0s linear $loading-backdrop-fadein-duration);
  @include display-flex();
  top: 0;
  left: 0;
  z-index: $z-index-loading-backdrop;

  visibility: hidden;
  width: 100%;
  height: 100%;

  &.active {
    @include transition-delay(0s);
    visibility: visible;

    &.show-backdrop {
      background-color: $loading-backdrop-bg-color;
    }
  }
}

.loading-container {
  z-index: $z-index-loading;
  .loading {
    padding: $loading-padding;

    border-radius: $loading-border-radius;
    background-color: $loading-bg-color;

    color: $loading-text-color;

    text-align: center;
    text-overflow: ellipsis;
    font-size: $loading-font-size;

    h1, h2, h3, h4, h5, h6 {
      color: $loading-text-color;
    }
  }
}
